<!-- <h2>Números Aleatórios</h2>
<table>
  <tr>
    <th>Numero</th>
    <th>Par ou ímpar</th>
  </tr>
  <tr *ngFor="let n of getNumbers()">
    <td>{{ n }}</td>
    <td>
      <span *ngIf="n % 2 == 0">PAR</span>
      <span *ngIf="n % 2 != 0">IMPAR</span>
    </td>
  </tr>
</table> -->

<h2>Gerador de Números Aleatórios</h2>
<label for="numRandom">Digite a quantidade de números:</label>
<input type="number" id="numRandom" name="numRandom" [(ngModel)]="numRandom">
<button (click)="getNumbers()">Gerar</button>

<div *ngIf="evenNumbers.length > 0">
  <h3>Números pares:</h3>
  <ul>
    <li *ngFor="let number of evenNumbers">{{ number }}</li>
  </ul>
</div>

<div *ngIf="oddNumbers.length > 0">
  <h3>Números ímpares:</h3>
  <ul>
    <li *ngFor="let number of oddNumbers">{{ number }}</li>
  </ul>
</div>

